/* Estilo general */
body {
    background-color: #0a9396;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor del formulario */
section {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

/* Título */
h1 {
    text-align: center;
    color: #0a9396;
    font-weight: bold;
    margin-bottom: 20px;
    margin: 30px;

}

/* Campos del formulario */
.form-floating label {
    color: #0a9396;
}

.form-control {
    border-radius: 5px;
    border: 2px solid #0a9396;
}

.form-control:focus {
    border-color: #005f73;
    box-shadow: 0 0 5px rgba(0, 95, 115, 0.5);
}

/* Checkbox */
.checkbox label {
    color: #0a9396;
}

/* Botón de inicio de sesión */
.btn-primary {
    background-color: #0a9396;
    border-color: #0a9396;
}

.btn-primary:hover {
    background-color: #005f73;
    border-color: #005f73;
}

/* Enlaces */
a {
    color: #005f73;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
